{% extends "::accueil.html.twig" %}

{% block   body %}
    {{ parent() }}
    <h2> Espace Administrateur </h2>
    <a href="#" id="profile"> My Profile</a> &nbsp;&nbsp;&nbsp;
    <a href="#" id="newUser"> New User </a>  &nbsp;&nbsp;&nbsp;
    <a href="#" id="manage"> Manage Account </a>

    <div id="divProfile">

        {{ render(controller('FOSUserBundle:Profile:edit'))}}
          <div class="results"> </div> 
          <hr/>
        {{ render(controller('FOSUserBundle:ChangePassword:changePassword'))}}
        <span class="passwordResult"> </span>
    </div>
    
    <div id="divNewUser">

        {{ render(controller('FOSUserBundle:Registration:register'))}}
         <div class="results"> </div>  
    </div>
        
    <div id="divAutre">
       
    </div>    
{%endblock  body %}

{% block javascripts %}
    {{ parent() }}
     
      <script >
        $(function(){
              
                     $( "#newUser" ).click(function() {

                        $('#divNewUser').css({'display':'block'}); 
                        $('#divProfile').css({'display':'none'}); 
                         $('#divAutre').css({'display':'none'});
                     });
                     
                     $( "#manage" ).click(function() {

                        $('#divNewUser').css({'display':'none'}); 
                        $('#divProfile').css({'display':'none'}); 
                        $('#divAutre').css({'display':'block'}); 
                     });
              
              //************** Users list *************
              
               $( "#manage" ).click(function() {
                     $.ajax({
                    type: "GET",
                    url: "{{ path('utilisateurs_users') }}",
                    cache: "false",
                    dataType: "html",
                    success: function(result){
                    $("#divAutre").html(result); 
                    }
                 }); 
                  
                });
                
                
              //************* Registration *****************  
                    
                $(".fos_user_registration_register").submit(function (e) {
                e.preventDefault();
                var values = {};
                $('.fos_user_registration_register').serializeArray().forEach(function (field) {
                    values[field.name] = field.value;
                });
                $.ajax({
                    url: "{{ path('fos_user_registration_register') }}",
                    data: values,
                    type: 'post'
                }).done(function (data) {
                    $(".results").html("<h3>You are successfully registered.</h3>");
                    /*setTimeout(function () {
                        window.location.reload(1);
                    }, 2000);*/
                }).fail(function (data) {
                    var newHTML = $.map(data.responseJSON.message, function (value) {
                        return ('<li>' + value + '</li>');
                    });
                    $(".results").html(newHTML);
                });
            });
            
                //************** Users Enabled *************
       
                
                   
                 
         });
      </script>
{% endblock %}

