<p>Users List!</p>
    <section>
       
        <table border="2" width="40%">
            <tr><th>Nom</th><th>Prénom</th><th>Username</th><th>E-mail</th><th>Roles</th><th>Status</th><th>Action</th></tr>
        {% for user in users%}
            <tr>
                <td> {{user.nom}}</td>
                <td> {{user.prenom}}</td>
                <td> {{user.username}}</td>
                 <td> {{user.email}}</td>
                  <td> {{user.roles[0]}}</td>
                 <td> 
                     {% if (user.enabled)%}
                      Enabled
                      
                      {% else %}
                       Disabled
                     {% endif %}
                 </td>
                 <td align="center"> 
                     <form method="post" action="{{ path('utilisateurs_enable_user') }}">
                         <input type="hidden" name="id" value="{{user.id}}">
                         <input type="checkbox" value="{{user.enabled}}" name="choix" {% if (user.enabled)%}checked{% endif %}>
                        <input type="submit" class="enabledForm">
                     </form>
                 </td>
            </tr>
        {% endfor %}
        </table> 
    </section> 
